# In your project report, specify the five (5) most important (interesting) constraints of the AssetPlus application, which are not covered by your domain model using a structured natural language approach. For navigation expressions, use the appropriate role names in your domain model precisely. Do not include constraints that can be expressed with a property of an Umple attribute. 

constraints:
- prevent same floor number Floor objects
- prevent same room number Room objects
- maintenance note creation date cannot be before its ticket dateOpened
- Employee and Manager have to have "@ap.com" as the last 7 characters of their username
- All users cannot change their account name once set
